html {
    font-size: 70px;
    text-align: center;
    font-family: 'MedievalSharp', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
}

body {
    image-rendering: -webkit-optimize-contrast;
    background-size: cover;
    margin: 5vw;
}

h1 {
    text-align: center;
    font-size: 150px;
}

p {
    font-size: 50px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 19vw;
    height: 6vw;
    margin-top: 10vw;
    font-size: 35px;
    font-family: 'MedievalSharp', cursive;
    border: none;
    color: white;
    background-color: rgb(75, 44, 9);
    border-radius: 75px;
    margin-right: 10px;
}

button:hover {
    background-color: rgb(139, 93, 40);
    cursor: pointer;
}

#items,
#buttons, 
#title {
    opacity: 1;
    transition: 1s opacity;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.credits, 
a {
    font-size: 20px;
    color: rgb(159, 152, 152);
    text-decoration: none;
}
.creditsbackground {
    background-image: url("Images/wooden_wall.jpg");
    font-size: 10px;
}
.names {
    font-size: 30px;
}